<blockquote>
  <p>Capital Technologies & Research will develop a decentralized private communication system where users can easily enjoy their private communications.</p>
  <footer><a href="https://www.mycapitalco.in/" target="_blank">https://www.mycapitalco.in/</a></footer>
</blockquote>
